# VacationPy
---

## Starter Code to Import Libraries and Load the Weather and Coordinates Data

In [63]:
# Dependencies and Setup
import hvplot.pandas
import pandas as pd
import requests
import gmaps

# Import API key
from api_keys import geoapify_key,geoapify_key2

gmaps.configure(api_key=geoapify_key)

In [64]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
city_data_df = pd.read_csv("output_data/cities.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,hobart,-42.8794,147.3294,53.46,72,75,17.27,AU,1668580755
1,1,kaka,37.3482,59.6143,54.68,41,0,3.04,TM,1668580880
2,2,yellowknife,62.4560,-114.3525,16.32,73,75,19.57,CA,1668580881
3,3,san cristobal,7.7669,-72.2250,64.65,96,95,1.92,VE,1668580881
4,4,punta arenas,-53.1500,-70.9167,46.51,61,40,5.75,CL,1668580881

---

### Step 1: Create a map that displays a point for every city in the `city_data_df` DataFrame. The size of the point should be the humidity in each city.

In [65]:
# %%capture --no-display

# Configure the map plot
place = city_data_df[["Lat", "Lng"]]
size = city_data_df["Humidity"].astype(float)

# Display the map
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(place, weights=size, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Step 2: Narrow down the `city_data_df` DataFrame to find your ideal weather condition

In [66]:
# Narrow down cities that fit criteria and drop any results with null values
city_data_df_narrow = city_data_df.loc[(city_data_df["Max Temp"] > 70) & (city_data_df["Max Temp"] < 80) & (city_data_df["Wind Speed"] < 10) & (city_data_df["Cloudiness"] == 0)]

# Drop any rows with null values
# YOUR CODE HERE
# No Null values in data set

# Display sample data
city_data_df_narrow

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
47,47,hilo,19.7297,-155.0900,71.26,95,0,5.75,US,1668580664
70,70,pangai,-19.8000,-174.3500,77.97,78,0,6.58,TO,1668580907
119,119,nilokheri,29.8333,76.9167,78.96,28,0,8.25,IN,1668580927
175,175,tura,25.5198,90.2201,76.53,56,0,3.44,IN,1668580811
196,196,acapulco,16.8634,-99.8901,76.82,83,0,0.00,MX,1668580958
286,286,nouakchott,18.0858,-15.9785,75.13,49,0,9.55,MR,1668580928
292,292,dhing,26.4667,92.4667,78.15,54,0,3.76,IN,1668580996
318,318,cayenne,4.9333,-52.3333,73.44,94,0,2.30,GF,1668581007
349,349,ratholo,-22.7245,27.5720,79.79,36,0,8.93,BW,1668581019
378,378,ixtapa,20.7000,-105.2000,72.23,82,0,3.11,MX,1668581031
408,408,coahuayana,18.7333,-103.6833,72.61,84,0,3.71,MX,1668581042
452,452,chegutu,-18.1302,30.1407,79.05,48,0,2.55,ZW,1668581059
504,504,maceio,-9.6658,-35.7353,72.84,94,0,5.75,BR,1668581079
523,523,nanakuli,21.3906,-158.1547,75.15,64,0,5.75,US,1668581086

### Step 3: Create a new DataFrame called `hotel_df`.

In [67]:
# Use the Pandas copy function to create DataFrame called hotel_df to store the city, country, coordinates, and humidity
hotel_df = city_data_df_narrow[["City","Country","Lat","Lng","Humidity"]].copy()

# Add an empty column, "Hotel Name," to the DataFrame so you can store the hotel found using the Geoapify API
hotel_df.loc[:,"Hotel Name"] = ""

# Display sample data
hotel_df

           City Country      Lat       Lng  Humidity Hotel Name
47         hilo      US  19.7297 -155.0900        95
70       pangai      TO -19.8000 -174.3500        78
119   nilokheri      IN  29.8333   76.9167        28
175        tura      IN  25.5198   90.2201        56
196    acapulco      MX  16.8634  -99.8901        83
286  nouakchott      MR  18.0858  -15.9785        49
292       dhing      IN  26.4667   92.4667        54
318     cayenne      GF   4.9333  -52.3333        94
349     ratholo      BW -22.7245   27.5720        36
378      ixtapa      MX  20.7000 -105.2000        82
408  coahuayana      MX  18.7333 -103.6833        84
452     chegutu      ZW -18.1302   30.1407        48
504      maceio      BR  -9.6658  -35.7353        94
523    nanakuli      US  21.3906 -158.1547        64

### Step 4: For each city, use the Geoapify API to find the first hotel located within 10,000 metres of your coordinates.

In [68]:
# Set parameters to search for a hotel
radius = 10000
target_coordinates = ""

params = {
    "categories": f"accommodation.hotel",
    "key": geoapify_key2
}

# Print a message to follow up the hotel search
print("Starting hotel search")

# Iterate through the hotel_df DataFrame
for index, row in hotel_df.iterrows():
    # get latitude, longitude from the DataFrame
    target_coordinates = f"{row['Lat']}, {row['Lng']}"
    
    # Add filter and bias parameters with the current city's latitude and longitude to the params dictionary
    params["filter"] = f"circle:{row['Lng']},{row['Lat']},{radius}"
    params["bias"] = f"proximity:{row['Lng']},{row['Lat']}"
    
    # Set base URL
    base_url = "https://api.geoapify.com/v2/places"


    # Make and API request using the params dictionaty
    name_address = f"{base_url}?categories={params['categories']}&filter={params['filter']}&bias={params['bias']}&apiKey={params['key']}"
    
    # Convert the API response to JSON format
    name_address = requests.get(name_address).json()
    
    # Grab the first hotel from the results and store the name in the hotel_df DataFrame
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["features"][0]["properties"]["name"]
    except (KeyError, IndexError):
        # If no hotel is found, set the hotel name as "No hotel found".
        hotel_df.loc[index, "Hotel Name"] = "No hotel found"
        
    # Log the search results
    print(f"{hotel_df.loc[index, 'City']} - nearest hotel: {hotel_df.loc[index, 'Hotel Name']}")

# Display sample data
hotel_df

Starting hotel search
hilo - nearest hotel: Dolphin Bay Hotel
pangai - nearest hotel: Billy's Place
nilokheri - nearest hotel: No hotel found
tura - nearest hotel: No hotel found
acapulco - nearest hotel: Hotel del Valle
nouakchott - nearest hotel: فندق أدرار
dhing - nearest hotel: No hotel found
cayenne - nearest hotel: Central Hôtel
ratholo - nearest hotel: No hotel found
ixtapa - nearest hotel: Ma. Cristina
coahuayana - nearest hotel: No hotel found
chegutu - nearest hotel: Chegutu hotel
maceio - nearest hotel: Maceió Hostel e Pousada
nanakuli - nearest hotel: Aulani, A Disney Resort & Spa

,City,Country,Lat,Lng,Humidity,Hotel Name
47,hilo,US,19.7297,-155.0900,95,Dolphin Bay Hotel
70,pangai,TO,-19.8000,-174.3500,78,Billy's Place
119,nilokheri,IN,29.8333,76.9167,28,No hotel found
175,tura,IN,25.5198,90.2201,56,No hotel found
196,acapulco,MX,16.8634,-99.8901,83,Hotel del Valle
286,nouakchott,MR,18.0858,-15.9785,49,فندق أدرار
292,dhing,IN,26.4667,92.4667,54,No hotel found
318,cayenne,GF,4.9333,-52.3333,94,Central Hôtel
349,ratholo,BW,-22.7245,27.5720,36,No hotel found
378,ixtapa,MX,20.7000,-105.2000,82,Ma. Cristina
408,coahuayana,MX,18.7333,-103.6833,84,No hotel found
452,chegutu,ZW,-18.1302,30.1407,48,Chegutu hotel
504,maceio,BR,-9.6658,-35.7353,94,Maceió Hostel e Pousada
523,nanakuli,US,21.3906,-158.1547,64,"Aulani, A Disney Resort & Spa"

### Step 5: Add the hotel name and the country as additional information in the hover message for each city in the map.

In [90]:
# Removing items where no hotel is found
hotel_df1 = hotel_df.loc[hotel_df['Hotel Name'] != 'No hotel found']
hotel_df1

# %%capture --no-display


# Configure the map plot
place = hotel_df1[["Lat", "Lng"]]
size = hotel_df1["Humidity"].astype(float)
hotel_df1.loc[:,"Hotel Country"] = hotel_df1["Hotel Name"] + ", " + hotel_df1["Country"]
hoteltext = hotel_df1['Hotel Country'].values.tolist()

# Display the map
# Plot Heatmap
fig1 = gmaps.figure()

# Create marker layer
marker_layer = gmaps.marker_layer(place,hover_text=hoteltext)


# Add layer
fig1.add_layer(marker_layer)

# Display figure
fig1

C:\Users\bruci\AppData\Local\Temp\ipykernel_20772\206435924.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df1.loc[:,"Hotel Country"] = hotel_df1["Hotel Name"] + ", " + hotel_df1["Country"]

Figure(layout=FigureLayout(height='420px'))